body {
    background-color: black;
    color: white;
    font-family: Arial;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home-font {
    font-family: 'Orbitron', sans-serif;
}
